{% extends "landing_page/base.html" %}

{% load static %}


{% block content %}
<style>

    body { 
    background-image: url("{% static 'landing_page/img/about_cvr/bg.jpg' %}");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover; 
    }

    .true-transparent {
        background-color: rgba(0,0,0, 0.5);
        width: auto;
        height: 510px;

    }

    .true-transparent-heading {
    font-family: 'Mulish', sans-serif;
    color: white;
    text-align: start;
    /* justify-content: center; */
    font-size:calc(20px + 3vw);
    position: relative;
  }

    .true-transparent-subheading {
    font-family: 'Mulish', sans-serif;
    color: white;
    text-align: start;
    font-size:calc(18px + .5vw);
    position: relative;
    margin-top: 30px;
  }

  .my-btn-sm { 
            width: 30px; 
            height: 30px; 
            padding: 6px 0px; 
            border-radius: 15px; 
            font-size: 8px; 
            text-align: center;
            background-color: white;
            }


</style>
<div class="true-transparent">
    <div class="container" style="border: 0px solid red; padding-top: 200px;">
        <h1 class="true-transparent-heading">{{about.cover_name}}</h1>
        <p class="true-transparent-subheading">
            {{about.micro_greeting_1}} <br> {{about.micro_greeting_2}} <br> {{about.short_intro}}
        </p>
    </div>


</div>

<div style="background-color: white; width: auto; height: auto; padding-bottom: 50px; padding-top: 50px; border: 0px solid green;">

    <div class="container">
        <h1 class="true-transparent-heading" style="color: black;">{{about.greeting_heading}}</h1> <hr>
    </div>

    <div class="container" style="border: 0px solid blue;">

        <span class="true-transparent-subheading" style="color: black;">
            {{about.greeting_subheading}}
        </span>

    </div>

    <div class="container" style="border: 0px solid red; padding-left: 20px; padding-top: 20px;">

        <ul style="line-height: 35px;">
          {%for lines in selfIntro%}
            <li>
              {{lines}}
            </li> 
          {%endfor%}             
          </ul>
        <span style="line-height: 35px;">
          {{about.fairwell_words}}
        </span>

    </div>
</div>

{% endblock content %}

