{% extends "base.html" %} 

{% load static %}

{% block content %}

<style>
  .card-hover {
    border-radius: 70px;
    border-top-left-radius: 0px;
    transition-duration: 500ms;
    background-color: rgb(36, 36, 36);
    width: 21rem;
    border-left: 2px solid rgb(241, 229, 119);
  }

  .button-hover {
    border-right: 2px solid rgb(241, 229, 119); 
    border-bottom: 2px solid rgb(241, 229, 119);
    border-radius: 25px; 
    background-color: rgb(37, 37, 37);
    transition-duration: 300ms;

  }

  .card-hover:hover {
    transition-duration: 300ms;
    border-radius: 0px;
    border-top-left-radius: 70px;
    border-left: 0px;
    border-right: 5px solid rgb(241, 229, 119);
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);

  }

  .button-hover:hover {
    transition-duration: 300ms;
    background-color: rgb(37, 37, 37);
    border-left: 2px solid rgb(241, 229, 119); 
    border-top: 2px solid rgb(241, 229, 119);
  }

</style>

<!-- Front section INTRO -->
<body style="background-image: url('{{context.home_page_bg_img.url}}');   background-position: center; height: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;">
  <!-- <div style=""></div> -->
<div style="background-image: linear-gradient(to right,  rgb(58, 58, 58),rgb(10, 10, 10)); width: auto; height: auto; padding-bottom: 50px; margin-top: 56px; padding-top: 50px;">
  <div class="container" style="border: 0px solid red;">

      <!-- DP and Intro Section -->
      <div class="row" style="border: 0px solid rgb(231, 228, 20); ">

        <div class="col-sm-12 col-lg-4 col-md-12 col-xs-12 col-xl-4" style="padding-left: 10px ; border: 0px solid white;">
          <div style="  display: table; margin: auto;">
            <img src="{{context.pfp.url}}" alt="😎" class="rounded-circle img-fluid dp-class" style="border: 0px solid violet;">
          </div>
          
        </div>


        <div class="col-sm-12 col-lg-8 col-md-12 col-xs-12 col-xl-8" style="border: 0px solid green;">

          <h1 class="my-title">{{context.name}}</h1>
          <p class="username-text">{{context.fancy_name}}</p>
          <p class="my-subtitle">{{context.bio}} </p>

          <div class="row" style="border: 0px solid red;">
            <div class="col" style="border: 0px solid blueviolet;">
              <h1 class="my-title" style="font-size: 15px; margin: 0px 0px 0px 0px ;">{{context.status}}</h1>

            </div>
          </div>

          <div class="row justify-content" style="border: 0px solid red; margin-top: 50px;">
            <div class="col-xl-3 col-md-6 col-sm-8 col-lg-6 col-xs-12" style="border: 0px solid rgb(214, 235, 22); padding: 10px 10px 10px 10px ;">
              <i class="fa fa-map-marker" aria-hidden="true" style="color:rgb(221, 71, 71); font-size: 20px;"></i>
              <span style="padding-left: 30px; padding-right: 10px; color: white;">{{context.location}}</span>
            </div>

            <div class="col-xl-3 col-md-6 col-sm-8 col-lg-6 col-xs-12" style="border: 0px solid yellow; padding: 10px 10px 10px 10px ;">
              <a href="{{context.twitter}}" style="text-decoration: none;">
                <i class="fa fa-twitter" aria-hidden="true" style="color: rgb(5, 131, 235); font-size: 20px;"></i>
                <span style="padding-left: 20px; padding-right: 10px; color: white;">Twitter</span>
              </a>
            </div>

            <div class="col-xl-3 col-md-6 col-sm-8 col-lg-6 col-xs-12" style="border: 0px solid yellow; padding: 10px 10px 10px 10px ;">
              <a href="{{context.github}}" style="text-decoration: none;">
              <i class="fa fa-github" aria-hidden="true" style="color: white; font-size: 20px;"></i>
              <span style="padding-left: 20px; padding-right: 10px; color: white;">Github</span>
              </a>
            </div>

            <div class="col-xl-3 col-md-6 col-sm-8 col-lg-6 col-xs-12" style="border: 0px solid yellow; padding: 10px 10px 10px 10px ;">
              <a href="{{context.discord}}" style="text-decoration: none;">
                <i class="fab fa-discord" style="color: #6d82cb; font-size: 20px;"></i>
                <span style="padding-left: 20px; padding-right: 10px; color: white;">Discord</span>
              </a>
            </div>

          </div>
        </div>
      </div>

      {%if user.is_authenticated%}
        <div class="row justify-content-end" style="border: 0px solid;">
          <a href='{%url "Intro-Edit"%}' class="btn btn-success">Edit</a>
        </div>
      {%endif%}  

  </div>  
</div>


<!-- Short Intro (New container) TRANSPARENT-sec -->
<div style="width: auto;" class="true-transparent-home">
  <div class="container" style="border: 0px solid white;">

    {%if user.is_authenticated%}
      <div class="row justify-content-end" style="border: 0px solid;">
        <a href='{%url "State-Edit"%}' class="btn btn-success">Edit</a>
      </div>
    {%endif%}  

    <div class="col" style="border: 0px solid white;">
      <h1 class="true-transparent-heading-home" >{{context.recent_project_title}}</h1><hr style="background-color: white; color: white; ">
      {% if context.recent_project_sub_title %}
        <h1 class="true-transparent-subheading-home" >{{context.recent_project_sub_title}}</h1>
      {%endif%}
      <div class="true-transparent-content-home" style="margin-top: 50px;">
        {{context.recent_project_summary | safe}}

      </div>

    </div>

  </div>
</div>


<!-- Cards -->
<div class="cards-sec" style="background-image: linear-gradient(to right,  rgb(58, 58, 58),rgb(10, 10, 10))">

  <!-- cards Link Section  HEADING -->
  <div class="card" style="background-color: rgb(34, 33, 33);">
    <div class="card-body" style="padding: 10px 10px 10px 10px ;">
      <h1 class="central-heading-title" style="color: white;">Explore</h1>
    </div>
  </div>

  <!-- cards Link Section  CARDS -->
  <div class="container" style="margin-top: 30px; border: 0px solid red;">
    
    {%if user.is_authenticated%}
      <div class="row justify-content-end" style="border: 0px solid;">
        <a href='{% url "Card-Add" %}' class="btn btn-success">Add</a>
      </div>
    {%endif%}  
    
    <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 col-xl-12" style="border: 0px solid blue; padding: 5px 5px 5px 5px ;">
      <div class="row justify-content-around" style="border: 0px solid">

        {%for c in cards%}
          <div class="card card-hover" style=" margin: 10px 10px 10px 10px ;">
            <div class="card-body">
              <h5 class="card-title cards-font" style="text-align: center;" >{{c.heading}}</h5> <hr style="background-color: rgb(241, 229, 50);">

              <div style="border: 0px solid; height: 80px;">
                <p class="card-text" style="color: white;">{{c.Summary}}</p>
              </div>
              
              <a href="{{c.link}}" class="btn btn-primary button-hover">Take a look</a>
              {%if user.is_authenticated%}
              <a href="{% url 'Card-Edit' c.id %}" class="btn btn-dark" style="border-radius: 25px;">Edit</a>
              {%endif%}

            </div>
          </div>
        {%endfor%}
      
      </div>
    </div>
  </div>
</div>




<!-- skills section -->
<div id="skills">
  <div style="width: auto; height: auto; padding-bottom: 50px; padding-top: 0px; background-image: linear-gradient(to right,  rgb(58, 58, 58),rgb(10, 10, 10));">
    <div class="card" style="background-color: rgb(34, 33, 33);">
      <div class="card-body" style="padding: 10px 10px 10px 10px ;">
        <h1 class="central-heading-title" style="color: white;">Experties</h1>
      </div>
    </div>
  
    
  
    <div class="container">
  
      {%if user.is_authenticated%}
        <div class="row justify-content-end" style="border: 0px solid;">
          <a href='{% url "Skills-Add" %}' class="btn btn-success">Add</a>
        </div>
      {%endif%}  
  
      <div class="row">
        {% for skill in skill_set %}

          <div class="card card-hover" style="margin: 50px 20px 5px 20px;">
            <div class="card-body">
              <h5 class="card-title cards-font" style="text-align: center;" >{{skill.title}}</h5> <hr style="background-color: rgb(241, 229, 50);">
              {%if user.is_authenticated%}
              <div class="row justify-content-end" style="border: 0px solid;">
                <a href='{% url "Skills-Edit" skill.id_ %}' style="text-decoration: none; color: white;">Edit</a>
              </div>
              {%endif%}  

              <div style="border: 0px solid; height: auto;">
                <p >
                  <ul class="skills-fonts-items" style="color: white;">
                    {% for item in skill.items %}
                      <li>
                        {{item}}
                      </li>
                    {%endfor%}
                  </ul>
                </p>
              </div>

            </div>
          </div>
              
        {%endfor%}
  
        
       
  
      
      </div>
    
  
    </div>
    
  </div>

</div>







  


{% endblock content %}