{% extends "plain_msg_template.html" %}

{%block title%} 404 Error! {%endblock title%}

{%block plain_msg_context%}

<div class="container" style="height: 700px;">

            
    <div class="row" style="height: auto; border: 0px solid green;">
        <div class="col" style="width: auto; border: 0px solid red;">
            <div class="container" style="border: 0px solid; margin-top: 200px; padding-bottom: 10px;">
                <h1 style="font-family: 'Mulish', sans-serif; text-align: center; color: white; font-size: calc(20px + 2vw);">
                    Ohh crap! (500) Internal Server Error 😟
                </h1>
            </div>
            <hr style="background-color: white;">

            <div class="container" style="border: 0px solid; padding: 30px 30px 30px 30px ;">
                <h1 style="font-family: 'Mulish', sans-serif; text-align: center; color: white; font-weight: bold; font-size: calc(12px + 1vw);">
                    It's a fault from my side. I'll resolve it ASAP!
                </h1>
            </div>

        </div>
    </div>

    <div class="row justify-content-center" style="margin-top:50px;">
        <h1 style="font-family: 'Mulish', sans-serif; text-align: center; color: white;  font-size: calc(11px + 1vw);">
            Its a (500) Internal Server Error!
            </h1>
    </div>
</div>
{% endblock plain_msg_context %}